@font-face {
    font-family: "WaterBrush";
    src: url(dist/fonts/WaterBrush-Regular.woff) format("woff");
    src: url(dist/fonts/WaterBrush-Regular.woff2) format("woff2");
    font-weight: bold;
    font-style: italic;
  }