
.text {
  font-family: baltica ;
  background-color: red;
  font-size: 36px;
  font-weight: 900;
  font-style: normal
}

.text1 {
  font-family: baltica ;
  background-color: red;
  font-size: 36px;
  font-weight: 600;
}